h1 {
    font-size: 50px;
}

h1, h3{
   position: flex;
   text-align: center;
}

#text, #toptext, #image {
    margin: 10px;
    width: 640px;
}

.meme-form {
    position: flex;
    text-align: center;
}

#button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    /* position: fixed; */
    float: right;
    left: 1000px;
    padding: 7px;
    margin: 5px;
}

body {
    background-color: rgb(8, 246, 242);
}

img {
    height: 700px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    display: block;
}

